.about {
  margin-top: 100px;
  margin-bottom: 50px;
}
.about-intro {
  font-family: "Mate SC", serif;
  margin-top: 50px;
}
.about-des {
  font-family: "Crimson Text", serif;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
}
.bstc {
  margin-top: 50px;
  margin-bottom: 50px;
}
.video-head {
  font-family: "Graduate", cursive;
  text-align: center;
  color: #343f56;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.video {
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.bstc-head {
  font-family: "Graduate", cursive;
  text-align: center;
  color: #343f56;
}
.promotion-head {
  font-family: "Graduate", cursive;
  text-align: center;
  color: #343f56;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.promotion-intro {
  font-size: 1.7rem;
  font-family: "Playball", cursive;
}
h1 {
  font-size: 2.3rem;
}
.bstc-intro {
  font-family: "Playball", cursive;
  margin-top: 30px;
  font-size: 1.7rem;
}
.bstc-list {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.winner-img {
  height: 130px;
  width: 130px;
}
.bstc-winner {
  margin-top: 50px;
  margin-bottom: 30px;
}
.bstc-name {
  padding-top: 20px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}
.designation {
  margin-top: 50px;
  margin-bottom: 20px;
}
.designation-head {
  font-family: "Antic Slab", serif;
  padding-bottom: 30px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #1b1a17;
}
.poem-head {
  text-align: center;
}
.poem {
  margin: 50px 20% 50px 20%;
}
.poem-line {
  line-height: 0.5cm;
}
.poet {
  text-align: right;
}
.game-img {
  height: 10%;
  width: 70%;
  padding-bottom: 50px;
  margin-top: 40px;
}
.poem-name {
  color: #343f56;
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 50px;
}
